<div class="container">
    <div class="row"> 
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Cadastro</h1>
                
                </div>
                <form>
                    <form [formGroup]="cadastroForm" (ngSubmit)="Cadastro()">
                        <div class="mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Nome Completo</mat-label>
                                <input formControlName="nomeCompleto" type="text" matInput placeholder="Nome" value=""  >
                                <mat-icon matSuffix>person</mat-icon>
                              </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Digite seu telefone</mat-label>
                                <input formControlName="telefone" type="phone" matInput placeholder="Email" value="" >
                                <mat-icon matSuffix>local_phone</mat-icon>
                              </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" type="email" matInput placeholder="Email" value=""  >
                                <mat-icon matSuffix>email</mat-icon>
                              </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Senha</mat-label>
                               <input formControlName="senha" type="password" type="password"  matInput placeholder="Senha">
                                <mat-icon matSuffix>vpn_key</mat-icon>
                              </mat-form-field>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-primary">Cadastro</button>
                    </form>
                </form>
                <a style="color: #fff; margin-top: 10px;" routerLink="/login">Já está registrado? Clique para fazer login</a>
            </div>
        </div>
    </div>
</div>
