<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo"  >
    
    <div appearance="fill" style="margin-top: 10px; width: 100%;" *ngFor="let conteudo of conteudos" class="content"> 
    <mat-card class="mat-elevation-z4"  >
      <mat-card-header>
        <mat-card-title>{{conteudo.titulo}}</mat-card-title>
      </mat-card-header>
                      
      <mat-card-content>
        <p>{{conteudo.conteudo}}</p>
      </mat-card-content>
      <mat-card-actions>
       
      </mat-card-actions>
    </mat-card>
  </div>
  
</mat-tab>
  <mat-tab label="Exercícios">
    <div appearance="fill" style="margin-top: 10px; width: 100%;"  class="content"> 
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Adição</mat-card-title>
        </mat-card-header>
                        
        <mat-card-content>
        
          <p>
            João foi ao supermercado e comprou R$ 115,15 em mercadorias. Quando retornou à casa, ele viu que seu filho também havia ido ao
            mercado e comprado os mesmos produtos. Quanto os dois gastaram juntos?
          </p>
          <p>
            a) R$ 230,30
    
            b) R$ 230
            
            c) R$ 200,30
            
            d) R$ 220,20
            
            e) R$ 220,30
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title style="align-items: center; justify-content: center;">
                Resposta
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Como eles gastaram a mesma quantia, basta realizar a soma de 115,15 e 115,15:</p>
            <p > 115,15 + 115,15 =230, 30</p>
          </mat-expansion-panel>
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
        <mat-card-header>
          <mat-card-title>Adição</mat-card-title>
        </mat-card-header>
                        
        <mat-card-content>
          <p>
            João foi ao supermercado e comprou R$ 115,15 em mercadorias. Quando retornou à casa, ele viu que seu filho também havia ido ao
            mercado e comprado os mesmos produtos. Quanto os dois gastaram juntos?
          </p>
          <p>
            a) R$ 230,30
    
            b) R$ 230
            
            c) R$ 200,30
            
            d) R$ 220,20
            
            e) R$ 220,30
          </p>
        </mat-card-content>
        <mat-card-actions>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title style="align-items: center; justify-content: center;">
                Resposta
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Como eles gastaram a mesma quantia, basta realizar a soma de 115,15 e 115,15:</p>
            <p > 115,15 + 115,15 =230, 30</p>
          </mat-expansion-panel>
        </mat-card-actions>
      </mat-card>
    </div>
    
     
  </mat-tab>
  <mat-tab label="Vídeo aulas">
    
<!-- Videos -->
<div class="content" >
  <div fxLayout="row wrap" fxLayoutGap="16px grid"> 
    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="48%" >
      <mat-card class="mat-elevation-z4" >
          <h1 style="text-align: center;">Adição</h1> 
       <div class="section">
            <div class="video-container">
              <div class="color-overlay"></div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/az6OYFS7AUA" title="YouTube video player" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
               </div>
              </div>
      </mat-card>
    </div>
    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="48%" >
      <mat-card class="mat-elevation-z4" >
          <h1 style="text-align: center;">Subtração</h1>
       <div class="section">
            <div class="video-container">
              <div class="color-overlay"></div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/oSzh7TjIsjs" title="YouTube video player" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
               </div>
              </div>
      </mat-card>
    </div>
    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="48%" >
      <mat-card class="mat-elevation-z4" >
          <h1 style="text-align: center;">Divisão </h1>
       <div class="section">
            <div class="video-container">
              <div class="color-overlay"></div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/GpnfZHB3Rpw" title="YouTube video player" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
              </div>
      </mat-card>
    </div>
    <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="48%" >
      <mat-card class="mat-elevation-z4" >
          <h1 style="text-align: center;">Multiplicação</h1>
       <div class="section">
            <div class="video-container">
              <div class="color-overlay"></div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/BetgRvNQEC0" title="YouTube video player" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
               </div>
              </div>
      </mat-card>
    </div>

  </div>
</div>  
  </mat-tab>
</mat-tab-group>
    
    



    
 
<!-- https://image.freepik.com/free-vector/math-background_23-2148147326.jpg -->
