<div class="container">
    <div class="row"> 
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Email" value=""  >
                                <mat-icon matSuffix>email</mat-icon>
                              </mat-form-field>
                        </div>
                        <div class="mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Senha</mat-label>
                               <input type="password" type="password"  matInput placeholder="Senha">
                                <mat-icon matSuffix>vpn_key</mat-icon>
                              </mat-form-field>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </form>
                <a style="color: #fff; margin-top: 10px;"routerLink="/cadastro">Novo usuário? Clique para se cadastrar</a>
            </div>
        </div>
    </div>
</div>