 
 <!-- <body>
   <div class="container">
     <div class="card-container">
       <div class="card">
         <figure class="front">
           <h1>1</h1>
           <p>ESSA POHA GIRA.</p>
         </figure>
         <figure class="back">
            <h1>Price : 20$</h1>
            <button>Buy</button>
        </figure>
        </div>
      </div>
    </div>
 </body> -->
 
 <div class="container">
   <div class="card-container">
     <div class="card">
 <mat-card class="front">
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>Start</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>

<div class="container">
  <div class="card-container">
    <div class="card">
<mat-card class="back">
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>End</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>

