 
<mat-card class="example-card, example-full-width" appearance="fill" style="max-width: fit-content;">
  <mat-card-header>
    
    <mat-card-title>Seu app de estudos favorito</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://images.pexels.com/photos/1326947/pexels-photo-1326947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
  <mat-card-content>
    <h2 style="align-items: center;">
      Por menor que seja o seu tempo de estudo, estude! Não tenha medo de crescer lentamente, tenha medo apenas de ficar parado!
    </h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="mat-button" routerLink="/materia"> Vamos lá</button>
    
  </mat-card-actions>
</mat-card>




 <div class="content" style="color: 'primary';">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title style="text-align: center;">Seja Criativo!</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/lapis-coloridos-em-um-circulo_54231-16.jpg'>
        <mat-card-content>
          <p>
            A criatividade é pensar coisas novas. A inovação é fazer coisas novas.
          </p>
        </mat-card-content>
        <mat-card-actions>
          
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Relaxe</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/local-de-trabalho-para-estudos-com-notebooks-amarelos-e-aviao-de-papel_23-2147878297.jpg'>
        <mat-card-content>
          <p>
            Por que se apressar sobre coisas bonitas? Por que não relaxar e apreciá-las?
          </p>
        </mat-card-content>
        <mat-card-actions>
          
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Estude de casa</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/menina-em-casa-estudando-durante-a-escola-online-com-laptop_23-2148827501.jpg'>
        <mat-card-content>
          <p>
            A juventude é a época de se estudar a sabedoria; a velhice é a época de a praticar.
          </p>
        </mat-card-content>
        <mat-card-actions>
         
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Não desista!</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/vista-superior-que-voce-pode-fazer-escrito-no-bloco-de-notas-marcadores-vermelhos-e-azuis-observe-papeis-xicara-de-cha-no-preto_140725-145346.jpg'>
        <mat-card-content>
          <p>
            Não desista sem tentar, pois saber que deu seu melhor já é motivo de alegria.
          </p>
        </mat-card-content>
        <mat-card-actions>
         
        </mat-card-actions>
      </mat-card>
    
    </div>
  </div>
</div>
<!-- https://image.freepik.com/free-vector/math-background_23-2148147326.jpg -->

 










 <!-- <div class="container">
   <div class="card-container">
     <div class="card">
 <mat-card class="front">
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>Start</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>

</div></div>
  <div class="card-container">
    <div class="card">
<mat-card class="back">
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>End</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div> -->

<!-- <body>
   <div class="container">
     <div class="card-container">
       <div class="card">
         <figure class="front">
           <h1>1</h1>
           <p>ESSA POHA GIRA.</p>
         </figure>
         <figure class="back">
            <h1>Price : 20$</h1>
            <button>Buy</button>
        </figure>
        </div>
      </div>
    </div>
 </body> -->
